@import url(https://fonts.googleapis.com/css?family=Enriqueta);

body {
  opacity: 1;
  transition: 1s opacity;
  margin:0; /* This is used to reset any browser-default margins */
  font-family: 'Enriqueta';
  color: #333;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");
}

body.fade-out {
    opacity: 0;
    transition: none;
}

i {
  color: rgb(17, 145, 193);
}
i:hover {
  color: rgb(12, 112, 149);
}

.text {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  .content {
    display: inline;
  }
  .dash {
    display: inline-block;
    height: 3px;
    width: 20px;
    background-color: #3498db;
    animation: blink .5s infinite linear;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-cursor{
  color: rgb(17, 145, 193);
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
.landing .container {
  text-align: center;
  display: block;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  font-size: 4.5vw;
}

.landing {
  height:100vh;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
   text-align: center;
  width: 132px;
  height: 3px;
  border: 50px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 60px solid #3498db;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  cursor: pointer;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition: background-color 0.5s ease;
  margin-right: 10;
}

.trapezoid:hover {

 border-bottom: 60px solid rgba(#3498db, 0.74);
}

.trapezoid h2 {
  padding-top: 20px;
  margin-top: 0px;
  color: #fff;
  font-size:30px;
}

.trapezoid:hover {
  text-decoration: none;
}

.trapezoid:active {
  text-decoration: none;
}

.about {
 background-color: #3498db;
 padding-top: 50px;
padding-bottom: 50px;
-moz-box-shadow:    inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow:         inset 0 0 10px #000000;
display: none;

}

.about img {
  max-width: 32%;
  max-height: 32%;
  margin: 35px;
  margin-left: 150px;
  border: solid;
  border-width: 12px;
  border-color: #fff;
  padding: 0px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.about img:hover {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.about p {
  color: #fff;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 150px;
  font-size: 15px;

}

.row {
  margin: 0px;
  margin-top: 1px;
}

.container {
  text-align: center;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.icos {
    padding-top: 20px;
}
