th {

}

td {
  font-size: 13px;
}

footer {
  text-align: center;
}

#quizbody a {
  margin-top: 10px;
}

.questions{
  margin-left: 0px;
}

.custom-select {
  margin-top:6px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.fa-question-circle {
  text-align: right;
  padding-top: 8px;
  color: #292b2c;
}

.devider {
  padding-top: 12px;
}

.link {
  padding-top: 16px;
  text-align: left;
}

.back {
    padding-left: 25px;
}

@media (max-width: 575px) {
  .custom-select {
    margin-bottom: 10px;
  }
  .heading {
    padding-top: 10px;
  }
  .fa-question-circle {
    display: none;
  }
  .back {
    padding-left: 71px;
  }
  #next-col {
     margin-left: 66px;
     padding-left: 0px;
  }
  .help-btn {
    margin-left: 64px;
    padding-left: 0px;
  }
}
