@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body,html {
  height: 100%;
}
body{
background-color: #ffffff;
background: url("http://www.transparenttextures.com/patterns/dust.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/*	background-color: #ffffff;
background-image: url("http://www.transparenttextures.com/patterns/dust.png");
This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h2 {
	/*font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  margin-top: 10px;
  margin-bottom: 20px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
  font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26px;
  font-size: 18px;
  margin: 0 0px 23.5px;
}
blockquote {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
  font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
ol, ul {
  margin-top: 3px
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.navbar {
margin-bottom: 0;
}


.box
{
	position: relative;
	max-width: 100%;
	padding: 50px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
  background-image: url("http://www.transparenttextures.com/patterns/notebook-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.box:before, .box:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 22px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.box:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
  }
  .sidebar-nav .navbar ul {
  float: none;
  }
  .sidebar-nav .navbar ul:not {
  display: block;

  }
  .sidebar-nav .navbar li {
  float: none;
  display: block;
  }
  .sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
  }
}
@media (min-width: 768px) {
  /* uncomment if you would like the menu to be fixed */
  /* .navbar {
    position: fixed;
    width: 170px;
    z-index: 2;
  } */
}
@media (min-width: 992px) {
  .navbar {
    width: 212px;
  }
}
@media (min-width: 1200px) {
  .navbar {
    width: 262px;
  }
}
.sidebar-nav .navbar-header{ float: none; }
