@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body, html {
  max-height: 100%;
  color: #545454;
}

body .content {
  padding-top: 50px;
}

h2 {
  /*font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;*/
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
  font-weight: 100px;
  font-size: 3.4vh;
  padding-top: 20px;
  color: #FF3B3F;
  /*text-shadow: 2px 0 0 #003680, -2px 0 0 #003680, 0 2px 0 #003680, 0 -2px 0 #003680, 1px 1px #003680, -1px -1px 0 #003680, 1px -1px 0 #003680, -1px 1px 0 #003680;*/
}

h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 25px;
  margin: 0px;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
  margin: 0px;
}

li {
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
}

.exp li {
  padding-bottom: 15px;
}

.file-li li {
  font-size: 26px;
  padding-left: 10px;
}

/*
  .file-li li:before {
    content: "\e022";
    font-family: 'Glyphicons Halflings';
    font-size: 24px;
    float: left;
    margin-top: 1px;
    margin-left: -17px;
    color: #545454;
    padding-right: 10px;
  }
*/
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

a {
  color: #c4eaf2;
}

h2 span {
  background-color: #EFEFEF;
  color: #545454;
  line-height: 4.5vh;
  padding-right: 1vh;
  font-style: italic;
  margin-top: 37vh;
  text-align: center;
  max-height: 26vh;
  padding-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

footer {
  background-color: #EFEFEF;
  padding: 15px;
}

i {
  padding-right: 10px;
}

/* cheap bootsrap 4 dropdown mouse override */
.dropdown:hover > .dropdown-menu {
  display: block;
}

.fade {
  opacity: 0.4;
}

.encircle {
  cursor: pointer;
  color: #f7f7f7;
  margin-top: 40vh;
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: solid 2px white;
  position: relative;
  bottom: 18vh;
  left: 50%;
  margin-left: -30px; /* Half of the width */
}

.arrow {
  color: #FF3B3F;
  margin: 0 auto;
  margin-top: 13px;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.intro {
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.2);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.2);
  background-color: white;
  text-align: center;
  background-image: url("../img/oldmoon.jpg");
}

.intro h2 {
  font-size: 38px;
}

.intro p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
}

.pages {
  background-color: #fff;
  text-align: center;
}

.pages .col-sm {
  padding-top: 6vh;
  padding-bottom: 6vh;
  transition: background-color 0.5s ease;
}

.nav-1 {
  cursor: pointer;
  background-color: #c4eaf2;
}

.nav-1:hover {
  background-color: rgba(51, 148, 255, 0.5);
}

.nav-2 {
  cursor: pointer;
  background-color: #A9A9A9;
}

.nav-2:hover {
  background-color: #969696;
}

.nav-3 {
  cursor: pointer;
  background-color: #FF3B3F;
}

.nav-3:hover {
  background-color: #da0005;
}

.nav-4 {
  cursor: pointer;
  background-color: #EFEFEF;
}

.nav-4:hover {
  background-color: #d6d6d6;
}

.exp {
  text-align: left;
}

.exp p {
  padding-bottom: 10px;
}

.exp .col-sm {
  padding-bottom: 10px;
}

.bg-faded {
  background-color: #EFEFEF;
}

.encircle {
  border: solid 2px #FF3B3F;
}

.hnav {
  padding-bottom: 20px;
}

.content h3 {
  padding-top: 20px;
}

.content p {
  padding-top: 15px;
}

.hheadings h3 {
  cursor: pointer;
  padding-bottom: 10px;
  margin-left: 10px;
  border-bottom: 4px solid #545454;
}

.jumbotron {
  margin-top: 35px;
  padding-top: 10px;
}
.bimage {
  background-image: url(../img/file-copy-piracy.jpg);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: repeat-x;
}
.findings p {
  font-size: 20px;
}

.findings .devider {
padding-bottom: 35px;
}

.tableauPlaceholder {
  text-align: center;
}

.bnav {
  color: #545454;
}

.bnav:hover {
  text-decoration: none;
  color: #545454;
}

.active-nav {
  background-color: #e9e9e9;
}

.hidden {
  display: none;
}

.fa-bars {
  background: #EFEFEF;
  padding-left: 10px;
}
.banner {
  margin-top: 38vh;
}
/*
.tableauViz {
  height: 350px;
}
*/
/*
@media screen and (max-width: 500px) {
  div{width:70%;}
}
*/
@media screen and (max-device-width: 800px) {
  #bgvid {
    display: none;
  }
  h2 {
  font-size: 5.4vh;
  }
  h2 span {
  font-size: 3.4vh;
  }
  #navbarNavDropdown {
    z-index: 999;
  }
  a {
     color: #97d2de;
  }
  .banner {
    margin-top: 24vh;
  }
  .encircle {
    left: 50%;
  }
  body .content {
    padding-top: 82px;
  }
}
